# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Build and Distribution
dist/
build/
*.egg-info/
*.whl

# Testing / Coverage
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Local configuration
.env
.vscode/
.idea/